.card__section {
  display: grid;
  gap: 2em;
}

.product__pagination {
  width: 100%;
}

/* pagination styles */
.pagination__buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 1em;

  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style-type: georgian;
}

.previous__button,
.next__button {
  padding: .5em 1em;
  font-size: 1em;
  background: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination__active a {
  color: var(--secondary-color);
}

.pagination__disabled a {
  display: none;
}

/* PROCUCTS DETAILS */
.detail {
  display: grid;
}

.detail-card {
  display: grid;
  margin-top: 2em;
  gap: 8px;
}

.detail {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 8px;
}

.detail__picture img {
  width: 100%;
}

.detail__actions {
  margin-top: 2em;
  border-top: 1px solid var(--primary-color);
  padding-top: 8px;
}

.detail__actions li {
  list-style: disc;
   font-size: 12px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.cart-item-card,
.checkout-container {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 1em;
  border-radius: 5px;
}

.cart-item-card {
  display: flex;
  align-items: center;
  gap: 2em;
}

.cart-image img {
  max-width: 200px;
}

.cart-content p {
  font-size: 20px;
}

.price {
  font-weight: 700;
}

.price span {
  font-weight: 400;
}

.sub-text {
  margin-top: 2em;
}

.section-devider {
  display: grid;
  gap: 2em;
}

.checkout-container {
  display: grid;
  height: fit-content;
  gap: 1em;
}

.items-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



@media only screen and (min-width: 768px) {
  .pagination__buttons {
    justify-content: end;
  }

  .detail {
    grid-template-columns: 40% auto;
  }

  .detail__content {
    padding: 0 1em;
    margin-left: 2em;
  }

  .section-devider {
    grid-template-columns: 70% auto;
  }
}

@media only screen and (min-width: 992px) {
  .card__section {
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
  }
}