.section-container {
    width: 100%;
}

.inner-container {
    display: grid;
    grid-template-columns: 50% auto;
    gap: 2em;
}

.preview {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    max-height: 600px;
    padding: 1em;
    overflow: hidden;
    background: var(--quinary-color);
    box-shadow: -3px -3px 7px rgba(94, 104, 121, 0.377),
    3px 3px 7px rgba(94, 104, 121, 0.377);
}

.preview input{
    display: none;
}

.preview label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: .5em 2em;
    border-radius: 5px;
    background: var(--secondary-color);
    color: var(--tertiary-color);
    cursor: pointer;
}

.preview img {
    width: 100%;
    margin-top: 1em;
}

.inner-container__two {
    display: grid;
    gap: 1em;
    height: fit-content;
}

.status {
    display: flex;
    align-items: center;
    gap: 0.5em;
}