.container {
    display: grid;
    height: 90vh;
}

.container__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2em;
    background: white;
    color: var(--primary-text);
}

.container__right {
    display: none;
}

.welcome-text {
    padding-bottom: 1em;
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 600;
}

.redirect-text i {
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
}

div.error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin-bottom: 1em;;
}

input.error {
    border: 1px solid var(--error);
}

form {
    margin-top: 1em;
}

.redirect-text span:hover,
.redirect-text i:hover {
    color: #2196f3;
}

.inline__input {
    display: flex;
    gap: 1em;
}

@media only screen and (min-width: 1050px) {
    .container {
        grid-template-columns: 40% auto;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    }

    .container__right {
        display: unset;
    }

    .container__right img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .container__form-text {
        padding-bottom: 2em;
    }
}

@media only screen and (min-width: 1200px) {
    .container__form-text {
        padding-bottom: 2em;
    }

    .container__form-text h2 {
        font-size: 30px;
        padding-bottom: 8px;
    }

    .container__form-text p {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1500px) {
    .container__form-text {
        padding-bottom: 2em;
    }

    .container__form-text h2 {
        font-size: 40px;
        padding-bottom: 8px;
    }

    .container__form-text p {
        font-size: 25px;
    }
}