.input-select label {
    font-size: 15px;
    margin-bottom: 2px;
}

.input-select select {
    width: 100%;
    padding: .5em 1em;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    outline: none;
    width: 100%;
}

.input-select footer {
    font-size: .8rem;
    position: absolute;
    bottom: 30px;
    left: 30px;
}