.address h4 {
    margin-bottom: 1em;
}

.input-select label {
    font-size: 15px;
    margin-bottom: 2px;
}

.radio-button label {
    background: #f1f7fb;
    box-shadow: 0 1px 0 0 rgb(11 121 191 / 12%);
    padding: 8px;
    border-radius: 5px;
    width: 100%;
}

.input-select select {
    width: 100%;
    padding: .5em 1em;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    outline: none;
    width: 100%;
}

.input-select footer {
    font-size: .8rem;
    position: absolute;
    bottom: 30px;
    left: 30px;
}