.address h4 {
  margin-bottom: 1em;
}

.input-select label {
  font-size: 15px;
  margin-bottom: 2px;
}

.radio-button label {
  background: #f1f7fb;
  box-shadow: 0 1px 0 0 rgb(11 121 191 / 12%);
  padding: 8px;
  border-radius: 5px;
  width: 100%;
}

.input-select select {
  width: 100%;
  padding: .5em 1em;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  outline: none;
  width: 100%;
}

.input-select footer {
  font-size: .8rem;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

/* RESET PASSWORD */
.reset {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 550px;
}

.reset-box {
  display: grid;
  gap: 1em;

  padding: 1em;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.reset-box__text h2{
  margin-bottom: 8px;
}

@media only screen and (max-width: 550px) {
  .reset-box__text h2 {
    font-size: 22px;
  }
  .reset-box__text p {
    font-size: 12px;
  }
}