.container {
    display: grid;
    height: 90vh;
    align-items: center;
}

.container__form {
    color: var(--primary-color);
}

.container__right {
    display: none;
}

.error,
.container__form-text {
    margin-bottom: 2em;
}

div.error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
}

.padding {
    margin-top: 8px;
}

.redirect-text i {
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
}

.redirect-text i:hover,
.profile__left p:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

/* LANDING PAGE */
.onboarding {
    color: var(--primary-color);
}

.onboarding__content {
    display: grid;
    margin: 1em 0;
}

.onboarding__content-category {
    background: var(--secondary-color);
    border-radius: 5px;
    box-shadow: 2px 3px 2px rgba(26, 51, 101, .5);
    padding: 10px;
}

.onboarding__content-category h4 {
    margin-bottom: 4px;
}

.onboarding__content-category li:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

.onboarding__devider {
    display: none;
}

.onboarding__content-options {
    display: flex;
    flex-direction: column;
    gap: 1em;

    margin-top: 2em;
}

.onboarding__highlights h2 {
    margin: 1em 0;
}

.onboarding__highlights-shop {
    display: grid;
    gap: 2em;
}

/* PROFILE */
.profile {
    display: grid;
    gap: 2em;
}

.profile__left {
    background: var(--primary-color);
    color: var(--tertiary-color);
    padding: 1em;
    height: fit-content;
}

.profile__left h2 {
    letter-spacing: 2px;
    margin-bottom: 8px;
}

.profile__left p {
    cursor: pointer;
}

@media only screen and (min-width: 992px) {
    .container {
        grid-template-columns: 40% auto;
    }

    .container__right {
        display: unset;
        margin-left: 4em;
        background: var(--primary-color);
    }

    .container__right img {
        width: 100%;
        height: 100%;
    }

    .onboarding__content {
        grid-template-columns: 40% 10% auto;
        gap: 1em
    }

    .onboarding__devider {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .onboarding__devider hr {
        border: 1px solid var(--primary-color);
        height: 100%;
        border-radius: 5px;
        background: var(--primary-color);
    }

    .onboarding__devider p {
        font-size: 20px;
    }

    .onboarding__content-options {
        margin: unset;
        justify-content: center;
    }

    .onboarding__highlights-shop {
        grid-template-columns: 30% 30% 30%;
        justify-content: space-between;
    }

    /* PROFILE */
    .profile {
        grid-template-columns: 35% auto;
    }
}