.navigation,
.footer {
    display: flex;
    padding: 1em;
    background: #2874f0;
    color: #FFF;
}

.navigation input {
    display: none;
}

.footer {
    background: transparent;
    color: #306060;
}

li {
    list-style: none;
}

.navigation__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.navigation {
    justify-content: space-between;
    align-items: center;
}

.navigation__buttons {
    display: none;
}

.navigation__content p {
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    margin: 0;
}

.navigation__content input {
    padding: .5em 1em;
    border: none;
    outline: none;
    border-radius: 5px;
}

.sidenav p,
.navigation__buttons p {
    display: flex;
    align-items: center;
    cursor: pointer;

    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: .5em;
    transition: all .5s ease;
}

.navigation__buttons p:hover {
    background: #eee;
    color: #23527c;
    border-radius: 5px;
}

.sidenav svg,
.navigation__buttons svg {
    margin-right: 5px;
}

.footer__container-content p {
    font-size: 20px;
    font-weight: 500;
}

.footer__container-content a {
    font-size: 15px;
    color: #82AFB0;
}

.footer__container-content a:hover {
    text-decoration: underline !important;
    color: #23527c;
}

/* SIDENAVIGATION */

.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, .8);
    overflow-x: hidden;
    transition: all 1s ease;
    padding-top: 60px;
}


.sidenav p {
    margin-left: .5em;
    font-size: 20px !important;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media only screen and (min-width: 768px) {
    .navigation {
        flex-direction: row;
        justify-content: space-between;
    }

    .navigation__content,
    .navigation__buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
    }

    .footer__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-width: 100%;
    }
}

@media only screen and (min-width: 992px) {

    .navigation,
    .footer {
        padding: 1em 6em;
    }
}

@media only screen and (min-width: 1200px) {

    .navigation,
    .footer {
        padding: 1em 8em;
    }
}