* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
  color: unset;
}

.grid-display {
  display: grid;
  width: 100%;
}

.inline__input {
  display: flex;
  gap: 1em;
}


/* BUTTONS */
.btn {
  padding: .5em 2em;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 500;
  font-size: 16px;
  border-radius: 2px;
  transition: all .5s ease;
  outline: none;
  border: none;
}

.btn-primary {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.btn-secondary {
  background: var(--secondary-color);
  color: var(--primary-color);
}

/* GLOBAL INPUTS */
label {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 4px;
  color: var(--primary-color);
}

input {
  width: 100%;
  padding: .5em 1em;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  outline: none;
}

form {
  display: grid;
  gap: 10px;
}

.radio-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1em;
}

.radio-button label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.radio-button input {
  width:  unset !important;
}

/* CARDS */
.card {
  background: var(--primary-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-image img {
  width: 100%;
}

.card-text {
  padding: 8px;
}

.card-text p {
  color: var(--tertiary-color);
  font-size: 12px;
}

.card-text span {
  color: var(--secondary-color);
  font: normal 500 18px;
}

/* GLOBAL PADDING */
.section__padding {
  padding: 1em;
}

@media only screen and (min-width: 768px) {
  .section__padding {
    padding: 1em 4em;
  }

  .mobile-container {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .section__padding {
    padding: 2em 6em;
  }
}

@media only screen and (min-width: 1200px) {
  .section__padding {
    padding: 2em 8em;
  }
}